.imageallbg {
    background-image: url("motion.gif");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.imageallbgfoot {
    background-image: url("img/imgGIF/Home.png");
    height: 125vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.butfootbg{
    height: 10%;
    top:87%;
    left: 50%;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.headd{
    width: 100vh;
    height: 90vh;
    top: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

nav{
    background:#161616;
    height: 80px;
    width: 100%;
}
label.logo{
    color:yellow;
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;
}
nav ul{
    float: right;
    margin-right:20px; 
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:#7c7b77;
    font-size: 17px;
    text-transform: uppercase;
}