
body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'tavirajbold';
    src: url('taviraj-bold-webfont.woff2') format('woff2'), url('taviraj-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chakra_petchlight';
    src: url('chakrapetch-light-webfont.woff2') format('woff2'), url('chakrapetch-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mark_section3 {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
    color: #0037ff;
    background-color: #ffe91a;
}

.FontTaviraj {
    font-family: 'tavirajbold', 'sans-serif';
}

.FontChakrapetch {
    font-family: 'chakra_petchlight', 'sans-serif';
}

.imageallbg {
    background-image: url("motion.gif");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.imageallbgfoot {
    background-image: url("img/imgGIF/Home.png");
    height: 132vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.butfootbg {
    height: 10%;
    top: 87%;
    left: 50%;
    background-position: center;
    background-size: cover;
    position: absolute;
    
}

.headd {
    width: 100vh;
    height: 90vh;
    top: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.headd.visible{
    opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.c1 {
    font-size: 40pt;
    font-family: 'Taviraj', serif;
    color: #ffe91a;
}

.c3 {
    font-size: 60pt;
    font-family: 'Taviraj', serif;
    color: #0037ff;
}

h1 {
    font-family: "tavirajbold";
    color: #0037ff;
}

h3 {
    font-family: "tavirajbold";
    color: #0037ff;
}

.IntroColumn {
    width: 80vh;
    top: 40%;
    left: 50%;
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.IntroColumn.visible{
    opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.introCol1 {
    font-size: 16pt;
    line-height: 25pt;
    font-family: 'Chakra Petch', sans-serif;
    position: absolute;
}

.allbg1 {
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.allbg2 {
    height: 150vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Column1 {
    width: 35%;
    top: 35%;
    left: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.Column2 {
    width: 35%;
    top: 0%;
    left: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.Column5{
    width: 35%;
    top: 100%;
    left: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.Col1 {
    font-size: 16pt;
    line-height: 25pt;
    font-family: 'Chakra Petch', sans-serif;
    color: #161616;
    position: absolute;
}


.Col2 {
    font-size: 16pt;
    line-height: 25pt;
    font-family: 'Chakra Petch', sans-serif;
    color: #161616;
    position: absolute;
}



nav {
    background: #161616;
    height: 80px;
    width: 100%;
}

label.logo {
    color: yellow;
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #7c7b77;
    font-size: 17px;
    text-transform: uppercase;
}

mark {
    color: #ffe91a;
}
.motorcycle11 {
    width: 45vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: absolute;
}
.motorcycle12 {
    width: 62vw;
    right: 0%;
    position: absolute;
}
.motorcycle13 {
    width: 65vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 40%;
    position: absolute;
}



.motorcycle14 {
    width: 25vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25%;
    float: right;
}

.motorcycle21{
    width: 60vw;
    background-repeat: no-repeat;
    background-size: cover;
    top: -5%;
    right: 0%;
    float: right;
    position: absolute;
}
.motorcycle22{
    width: 65vw;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-top: 5%;
}

.policeline {
    width: 90vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 158%;
    left: 15%;
    position: absolute;
}

.ee{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 25%;
    left: -2%;
    position: absolute;
}

.section11 {
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section22 {
    background-color: red;
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.h1section {
    top: 30%;
    left: 5%;
    position: absolute;
}

#mark_stat {
    width: 45%;
}

.posih3sec1 {
    left: 42%;
    top: 15%;
    position: absolute;
}

.posih3sec2 {
    left: 42%;
    top: 15%;
    position: absolute;
}

footer{
    background-color: #161616;
    color: #ffe91a;
    font-family: 'chakra_petchlight';
}
.Section5{
    height: 150vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.ImgSec5_1{
    width: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-top: -36%;
}
.ImgSec5_2{
    width: 55vw;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    margin-top: -85%;
}
.Section6{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.ImgSec6_1{
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -25%;
}
#hide{
    display: none;
}