#footer_div2_3 {
	position: absolute;
	width: 100%;
	background-color: #161616;
	color: #7c7b77;
	height: 16vh;
	border-top: 1px solid white;
	z-index: 9;
	margin-top: 360%;
}
.rope2_3{
	margin-top: 78.5%;
    width: 100vw;
    position: absolute;
    z-index: 10;
	margin-left:0%;
	visibility: hidden;
}
.rope3_1{
	margin-top: 79%;
    width: 60vw;
    position: absolute;
    z-index: 10;
	margin-left:20%;
	visibility: hidden;
}
.rope3_2{
	margin-top: 97.7%;
    width: 67vw;
    position: absolute;
    z-index: 10;
	margin-left:22.5%;
	visibility: hidden;
}
.rope3_3{
	margin-top: 118.5%;
    width: 68vw;
    position: absolute;
    z-index: 10;
	margin-left:15.9%;
	visibility: hidden;
}
.rope3_4{
	margin-top: 185%;
    width: 37vw;
    position: absolute;
    z-index: 10;
	margin-left:45.6%;
	visibility: hidden;
}
.rope3_5{
	margin-top: 174.5%;
    width: 20vw;
    position: absolute;
    z-index: 10;
	margin-left:68.5%;
	visibility: hidden;
}
.rope3_6{
	margin-top: 195%;
    width: 36vw;
    position: absolute;
    z-index: 10;
    margin-left:47.8%;
	transform: rotate(0.5deg);
	visibility: hidden;
}
.pic2_3_5{
	width: 30vw;
    position: absolute;
    margin-top: 80%;
    right: 10%;
	z-index: 1;
	transform-origin: top center;
}
.pic2_3_circle{
	width: 18vw;
    position: absolute;
    margin-top: 76%;
    margin-left: 79%;
	z-index: 1;
}
.pic2_3_hole{
	width: 18.5vw;
    position: absolute;
    margin-top: 109.5%;
    margin-left: 80%;
	z-index: 1;
	transform: rotate(-7.5deg);
	transform-origin: 20% top;
}
.pic2_3_frame{
	width: 45.5vw;
    position: absolute;
    margin-top: 126%;
    margin-left: 3%;
	z-index: 2;
}
.pic2_3_gif{
	width: 37vw;
    position: absolute;
    margin-top: 131.5%;
    margin-left:6.8%;
	z-index: 1;
	transform: rotate(-4.1deg);
}
.pic2_3_f{
	width: 16.5vw;
    position: absolute;
    margin-top: 172%;
    right:72%;
	z-index: 2;
}
.pic2_3_2{
	width: 19vw;
    position: absolute;
    margin-top: 180.5%;
    margin-left:63%;
	z-index:2;
	transform: rotate(5deg);
	transform-origin: 60% top;
}
.pic2_3_s{
	width: 45vw;
    position: absolute;
    margin-top: 192%;
    margin-left:27%;
	z-index: 1;
	transform-origin: 40% top;
}
.pic2_3_31{
	width: 22.2vw;
    position: absolute;
    margin-top: 203%;
    margin-left:67.5%;
	z-index: 1;
	transform: rotate(-7deg);
	transform-origin: 55% top;
}
.pic2_3_6{
	width: 32vw;
	position: absolute;
	margin-top: 258.3%;
	z-index:1;
	margin-left:33%;
}
.pic2_3_circle2{
	width: 21vw;
	position: absolute;
	margin-top: 252%;
	z-index:1;
	margin-left:29%;
}
.pic2_3_last{
	width: 70vw;
	position: absolute;
	margin-top: 305%;
	z-index:1;
	margin-left: -35%;
	left: 50%;
}
.pic2_3_close{
	width: 45vw;
	position: absolute;
	margin-top: 303%;
	z-index:1;
	margin-left:49%;
}
.pic2_3_arrow{
	width: 4vw;
    position: absolute;
    margin-top: 349%;
    z-index: 11;
    cursor: pointer;
    margin-left: 48vw;
    animation: arrow23 3s infinite;
    animation-play-state: playing;
    transition: 0.2s;
}
@keyframes arrow23 {
    50% {
        transform: translateY(2vw);
    }
}

.pic2_3_light1{
	width: 100vw;
	position: absolute;
	margin-top: 62%;
	z-index:11;
}


.dirt1{
	margin-top: 14%;
    margin-left: 64%;
    position: absolute;
    z-index: 5;
    width: 27vw;
}
.dirt2{
	margin-top: 40%;
    margin-left: 10%;
    position: absolute;
    z-index: 5;
    width: 32vw;
}

/*--PIN--*/
.pin23-1{
	width: 2.69vw;
	position: absolute;
	margin-top: 79%;
	z-index:11;
	margin-left:75%;
}
.pin23-2{
	width: 2.1vw;
	position: absolute;
	margin-top: 108%;
	z-index:11;
	margin-left:84.5%;
}
.pin23-3{
	width: 2.69vw;
	position: absolute;
	margin-top: 127%;
	z-index:11;
	margin-left:22.5%;
	transform: rotate(13deg);
}
.pin23-4{
	width: 2.1vw;
	position: absolute;
	margin-top: 179%;
	z-index:11;
	margin-left:74%;
	transform: rotate(-4deg);
}

.pin23-5{
	width: 2.56vw;
	position: absolute;
	margin-top: 202%;
	z-index:11;
	margin-left:80.4%;
	transform: rotate(31deg);
}

.pin23-6{
	width: 2.69vw;
	position: absolute;
	margin-top: 189.5%;
	z-index:11;
	margin-left:45.5%;
	transform: rotate(-13deg);
}
.pin23-7{
	width: 2.1vw;
	position: absolute;
	margin-top: 281.5%;
	z-index:11;
	margin-left: -1.05%;
	left: 50%;
}



