/*-----COLUMN-----*/
.page23_c1{
	margin-top: 93%;
	margin-left: 14%;
	position: absolute;
	z-index: 3;
	font-family: 'chakra_petchlight';
	color: #f9f9f9;
	font-size: 1.11vw;
	line-height: 25pt;
}

.page23_c2{
	margin-top: 134%;
	margin-left: 65%;
	position: absolute;
	z-index: 3;
	font-family: 'chakra_petchlight';
	color: #f9f9f9;
	font-size: 1.11vw;
	line-height: 25pt;
}

.page23_c3{
	margin-top: 223%;
	margin-left: 13%;
	position: absolute;
	z-index: 3;
	font-family: 'chakra_petchlight';
	color: #f9f9f9;
	font-size: 1.11vw;
	line-height: 25pt;
}

.page23_c4{
	margin-top: 287%;
	margin-left: auto;
	width: 100vw;
	position: absolute;
	z-index: 3;
	font-family: 'chakra_petchlight';
	color: #f9f9f9;
	font-size: 1.11vw;
	line-height: 25pt;
	text-align: center;
}
.page23_next{
	margin-top: 353.9%;
    margin-left: auto;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #ffe91f;
    font-size: 1.041vw;
    text-align: center;
    width: 100vw;
}






/*-----TABLE-----*/
.tb23,.td23{
	border: 1px solid #5ffd2f;
}