.page3_h1 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #7c7b77;
    font-size: 1.11vw;
    line-height: 25pt;
}

.page3_c1 {
    margin-top: 163%;
    margin-left: 13%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #7c7b77;
    font-size: 1.11vw;
    line-height: 25pt;
}
.page3_c2 {
    margin-top: 183%;
    margin-left: 41%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #7c7b77;
    font-size: 1.11vw;
    line-height: 25pt;
}
.page3_c3 {
    margin-top:204%;
    margin-left: 70%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #7c7b77;
    font-size: 1.11vw;
    line-height: 25pt;
}
.page3_h2 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #7c7b77;
    font-size: 1.11vw;
    line-height: 25pt;
}
.page3_title2 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #7c7b77;
    font-size: 1.11vw;
    line-height: 25pt;
}
.page3_title2c1 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.11vw;
    line-height: 25pt;
}
.page3_title2c21 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.11vw;
    line-height: 25pt;
}
.page3_title2c22 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.11vw;
    line-height: 25pt;
}
.page3_title2c23 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.11vw;
    line-height: 25pt;
}



.page3_title3 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #7c7b77;
    font-size: 1.11vw;
    line-height: 25pt;
}

.page3_title3c1 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.11vw;
    line-height: 25pt;
}

.page3_title3c21 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.11vw;
    line-height: 25pt;
}
.page3_title3c22 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.11vw;
    line-height: 25pt;
}

.page3_title3c23 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.11vw;
    line-height: 25pt;
}



.page3_title4 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #7c7b77;
    font-size: 1.11vw;
    line-height: 25pt;
}

.page3_title4c1 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color:#161616;
    font-size: 1.11vw;
    line-height: 25pt;
}

.page3_title4c21 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.11vw;
    line-height: 25pt;
}

.page3_title4c22 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.11vw;
    line-height: 25pt;
}



