#footer_div2_2 {
	position: absolute;
	width: 100%;
	background-color: #161616;
	color: #ffe91a;
	height: 16vh;
	border-top: 2px solid white;
	z-index: 9;
	margin-top: 385%;
}
.rope2_2{
	margin-top: 97%;
    width: 95vw;
    position: absolute;
    z-index: 10;
}
.pic2_2_1{
	width: 55vw;
	position: absolute;
	margin-top: 63%;
	z-index:1;
	margin-left:0%;
}
.pic2_2_141{
	width: 2.5vw;
	position: absolute;
	margin-top:97.5%;
	z-index:11;
	margin-left:22.5%;
}
.pic2_2_21{
	width: 30vw;
	position: absolute;
	margin-top: 122%;
	z-index:1;
	margin-left:58%;
	transform: rotate(-5deg);
}
.pic2_2_22{
	width: 28vw;
	position: absolute;
	margin-top: 143%;
	z-index:1;
	margin-left:58%;
}
.pic2_2_14{
	width: 2.5vw;
	position: absolute;
	margin-top: 122%;
	z-index:11;
	margin-left:64%;
}
.pic2_2_121{
	width: 2.5vw;
	position: absolute;
	margin-top: 141%;
	z-index:11;
	margin-left:57%;
}
.pic2_2_frame{
	width: 50vw;
	position: absolute;
	margin-top: 145%;
	z-index:2;
	margin-left:0%;
}
.pic2_2_gif{
	width: 35.8vw;
	position: absolute;
	margin-top: 157.6%;
	z-index:1;
	margin-left:7.7%;
	transform: rotate(4deg);
}
.pic2_2_111{
	width: 2.5vw;
	position: absolute;
	margin-top: 152.5%;
	z-index:11;
	margin-left:28%;
}
.pic2_2_f{
	width: 10vw;
	position: absolute;
	margin-top: 175%;
	z-index:11;
	right:4%;
	
}
.pic2_2_31{
	width: 25vw;
	position: absolute;
	margin-top: 215%;
	z-index:1;
	right:16%;
}
.pic2_2_32{
	width: 20vw;
	position: absolute;
	margin-top: 238%;
	z-index:1;
	margin-left:22%;
	transform: rotate(-3deg);
}
.pic2_2_33{
	width: 18vw;
    position: absolute;
    margin-top: 253%;
    z-index: 1;
    margin-left: 45%;
    transform: rotate(3deg);
}
.pic2_2_light{
	width: 100vw;
	position: absolute;
	margin-top: 145%;
	z-index:11;
}
.pic2_2_last{
	width: 70vw;
    position: absolute;
    margin-top: 325%;
    z-index: 1;
    margin-left: 15%;
}
.pic2_2_arrow{
	width: 5vw;
	position: absolute;
	margin-top: 377%;
	z-index:1;
	margin-left:50%;
}
.pic2_2_close{
	width: 45vw;
	position: absolute;
	margin-top: 321.5%;
	z-index:1;
	margin-left:45%;
	transform: rotate(-1deg);
}
.pic2_2_131{
	width: 2.5vw;
	position: absolute;
	margin-top: 213%;
	z-index:11;
	margin-left:67%;
	transform: rotate(30deg);

}
.pic2_2_141_2{
	width: 2.5vw;
	position: absolute;
	margin-top: 237%;
	z-index:12;
	margin-left:37%;
	transform: rotate(-81deg);
}
.pic2_2_131_last{
	width: 2.5vw;
	position: absolute;
	margin-top: 298%;
	z-index:12;
	margin-left:48%;
}
.pic2_2_circle{
	width: 12vw;
	position: absolute;
	margin-top: 233.5%;
	z-index:12;
	margin-left:34%;
	transform: rotate(-9deg);
}