.rope2_1{
	margin-top: 103%;
    width: 95vw;
    position: absolute;
    z-index: 2;
}
.spray{
	width: 70vw;
    position: absolute;
    margin-top: 19%;
    right: 0;
    z-index: 1;
}
.pic2_1_1{
	width: 35vw;
    position: absolute;
    margin-top: 102.5%;
    margin-left: 8%;
    z-index: 1;
    transform-origin: top right;
}
.pic2_1_f{
	width: 15vw;
    position: absolute;
    margin-top: 139%;
    margin-left: 32.5%;
    z-index: 1;
}
.pic2_1_2{
	width: 35vw;
    position: absolute;
    margin-top: 152%;
    margin-left: 60%;
    z-index: 1;
    transform: rotate(5deg);
}
.pic2_1_3{
	width: 28vw;
    position: absolute;
    margin-top: 198%;
    margin-left: 56%;
    z-index: 1;
}

.pic2_1_4{
	width: 28vw;
    position: absolute;
    margin-top: 208%;
    left: 0%;
    z-index: 1;
}
.pic2_1_5{
	width: 25vw;
    position: absolute;
    margin-top: 224%;
    margin-left: 24%;
    z-index: 1;
    transform: rotate(-5deg);
}
.pic2_1_circle1{
	width: 19vw;
    position: absolute;
    margin-top: 217%;
    margin-left: 37%;
    z-index: 1;
    transform: rotate(-5deg);
}
.pic2_1_mark{
	width: 25vw;
    position: absolute;
    margin-top: 235%;
    margin-left: 11%;
    z-index: 1;
    transform: rotate(-5deg);
}
.pic2_1_6{
	width: 50vw;
    position: absolute;
    margin-top: 245%;
    right: 0%;
    z-index: 1;
}
.pic2_1_7{
	width: 30vw;
    position: absolute;
    margin-top: 300%;
    left: 0%;
    z-index: 1;
}
.pic2_1_8{
	width: 22vw;
    position: absolute;
    margin-top: 327%;
    margin-left: 22%;
    z-index: 1;
    transform: rotate(5deg);
}
.pic2_1_circle2{
	width: 20vw;
    position: absolute;
    margin-top: 345%;
    margin-left: 33%;
    z-index: 1;
    transform: rotate(-5deg);
}
.pic2_1_end{
	width: 70vw;
    position: absolute;
    margin-top: 410%;
    z-index: 1;
    left: 15%;
}
.pic2_1_group10{
	width: 45vw;
	position: absolute;
	margin-top: 404%;
	z-index:1;
	left:44.5%;
	transform: rotate(-1deg);
}
.pic2_1_arrow{
	width: 5vw;
	position: absolute;
	margin-top: 455%;
	z-index:1;
	left:50%;
}
.pic2_2_1{
	width: 50vw;
	position: absolute;
	margin-top: 78%;
	z-index:1;
	left:0%;
}

#folder1{
    display: block;
}

#folder2{
    display: none;
}

#folder3{
    display: none;
}

#folder4{
    display: none;
}

.pin1{
    width: 3vw;
    position: absolute;
    margin-top: 150%;
    margin-left: 75%;
    z-index: 100;
}
.pin2{
    width: 3vw;
    position: absolute;
    margin-top: 213%;
    margin-left: 30%;
    z-index: 100;
}
.pin3{
    width: 3vw;
    position: absolute;
    margin-top: 326%;
    margin-left: 33.5%;
    z-index: 100;
}
.pin4{
    width: 3vw;
    position: absolute;
    margin-top: 358%;
    margin-left: 47%;
    z-index: 100;
}

.pin5{
    width: 4vw;
    position: absolute;
    margin-top: 105%;
    margin-left: 38%;
    z-index: 100;
}

.pin6{
    width: 4vw;
    position: absolute;
    margin-top: 248%;
    margin-left: 84%;
    z-index: 100;
}

.pin7{
    width: 4vw;
    position: absolute;
    margin-top: 196%;
    margin-left: 67%;
    z-index: 100;
}

.pin8{
    width: 4vw;
    position: absolute;
    margin-top: 333%;
    margin-left: 4%;
    z-index: 100;
}