#footer_div2_4 {
	position: absolute;
	width: 100%;
	background-color: #161616;
	color: #7c7b77;
	height: 16vh;
	border-top: 1px solid white;
	z-index: 9;
	margin-top: 390%;
}
.rope2_4{
	margin-top: 85%;
    width: 95vw;
    position: absolute;
    z-index: 10;
    left:0%;
}
.pic2_4_1{
	width: 45vw;
    position: absolute;
    margin-top: 108%;
    right: -3%;
	z-index: 1;
	transform: rotate(1deg);
}
.pic2_4_circle2{
	width: 22vw;
    position: absolute;
    margin-top: 103%;
    left:54.5%;
	z-index: 1;
	transform: rotate(-16deg);
}
.pic2_4_f{
	width: 10vw;
    position: absolute;
    margin-top: 133%;
    right:3%;
	z-index: 4;
	transform: rotate(1deg);
}
.pic2_4_2{
	width: 35vw;
    position: absolute;
    margin-top: 85%;
    margin-left: 10%;
	z-index: 1;
}
.pic2_4_frame{
	width: 45vw;
    position: absolute;
    margin-top: 147%;
    left: 0%;
	z-index: 2;
}
.pic2_4_gif{
	width: 40vw;
    position: absolute;
    margin-top: 156%;
    margin-left: -2%;
	z-index: 1;
	transform: rotate(7.2deg);
}
.pic2_4_h{
	width: 30vw;
    position: absolute;
    margin-top: 203%;
    margin-left:24%;
	z-index: 3;
}
.pic2_4_12{
	width: 45vw;
    position: absolute;
    margin-top: 220%;
    right:-8%;
	z-index: 1;
	transform: rotate(-4deg);
}
.pic2_4_13{
	width: 65vw;
    position: absolute;
    margin-top: 233%;
    left:-5%;
	z-index: 1;
	transform: rotate(-4deg);
}
.pic2_4_33{
	width: 40vw;
    position: absolute;
    margin-top: 253%;
    left:45%;
	z-index: 1;
	transform: rotate(5deg);
}
.pic2_4_circle{
	width: 25vw;
    position: absolute;
    margin-top: 274%;
    left:68%;
	z-index: 1;
	transform: rotate(-5deg);
}
.pic2_4_last{
	width: 70vw;
	position: absolute;
	margin-top: 338%;
	z-index:1;
	margin-left: -35%;
	left: 50%;
}
.pic2_4_close{
	width: 45vw;
	position: absolute;
	margin-top: 333%;
	z-index:1;
	left:46%;
	transform: rotate(-1deg);
}
.pic2_4_button{
	width: 14.9vw;
	position: absolute;
	margin-top: 377%;
	z-index:1;
	left:50%;
	margin-left: -7.45%;
}
.pic2_4_143{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 84%;
	left: 30%;
}
.pic2_4_113{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 105.5%;
	right: 20%;
	transform: rotate(30deg);
}
.pic2_4_133{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 152%;
	left: 20%;
	transform: rotate(25deg);
}
.pic2_4_131{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 201%;
	left: 29%;
	transform: rotate(-9deg);
}
.pic2_4_123{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 253%;
	left: 63%;
	transform: rotate(59deg);
}
.pic2_4_133_2{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 219%;
	left: 83%;
	transform: rotate(28deg);
}
.pic2_4_143_2{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 232%;
	left: 22%;
	transform: rotate(-64deg);
}
.pic2_4_143_last{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 309%;
	left: 47%;
}
.pic2_4_143{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 84%;
	left: 30%;
}
.pic2_4_113{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 105.5%;
	right: 20%;
	transform: rotate(30deg);
}
.pic2_4_133{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 152%;
	left: 20%;
	transform: rotate(25deg);
}
.pic2_4_131{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 201%;
	left: 29%;
	transform: rotate(-9deg);
}
.pic2_4_123{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 253%;
	left: 63%;
	transform: rotate(59deg);
}
.pic2_4_133_2{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 219%;
	left: 83%;
	transform: rotate(28deg);
}
.pic2_4_143_2{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 232%;
	left: 22%;
	transform: rotate(-64deg);
}
.pic2_4_143_last{
	width: 2.5vw;
	position: absolute;
	z-index: 12;
	margin-top: 309%;
	left: 47.5%;
}
.tireprint2{
	margin-top:12%;
    margin-left: 12%;
    position: absolute;
    z-index: 5;
    width: 75.5vw;
}

.pic2_4_light1{
	width: 100vw;
	position: absolute;
	margin-top: 62%;
	z-index:0;
}
.pic2_4_light2{
	width: 100vw;
	position: absolute;
	margin-top: 145%;
	z-index:1;
}