html {
	overflow-x: hidden;
}

body {
	margin: 0;
	overflow-x: visible;
	background: #f4f0ea !important;
}

#BgMotion {
	width: 100.5%;
}

#section1 {
	height: 100vh;
	position: relative;
	z-index: 3;
}

#footer_div {
	position: absolute;
	width: 100%;
	margin-top: 388.3%;
	background-color: #161616;
	color: #7c7b77;
	height: 16vh;
	border-top: 1px solid white;
	z-index: 9;
}

nav {
	height: 90px;
	width: 100%;
	position: fixed;
}

.pic {
	padding: 25px 30px;
}

nav ul {
	font-family: 'chakra_petchlight';
	float: right;
	margin-top: -1%;
	margin-right: 1%;
}

#pencet {
	display: flex;
	float: right;
	margin-top: 3%;
	margin-right: 3%;
	flex-direction: column;
	cursor: pointer;
}

.manubbb {
	margin-top: 1.4%;
	visibility: hidden;
}

.num1 {
	margin-right: 0px;
}

@keyframes example {
	from {
		margin-right: -1000px;
	}
	to {
		margin-right: 0px;
	}
}

@keyframes example2 {
	from {
		margin-right: 0px;
	}
	to {
		margin-right: -1000px;
	}
}

.num2 {
	margin-right: 0px;
}

.num3 {
	margin-right: 0px;
	cursor: pointer; 
}

nav ul li {
	display: inline-block;
	line-height: 90px;
	margin: 0 5px;
}

nav ul li a {
	color: #7c7b77;
	font-size: 17px;
	text-transform: uppercase;
}

#pencet span {
	background-color: #ffe91a;
	width: 2em;
	height: .2em;
	margin: 0.26em 0;
	display: block;
	transition: all .4s ease;
	transform-origin: 0 0;
}

.Diam span:nth-child(1) {
	transform: rotate(45deg) translate(1px, -1px);
}

.Diam span:nth-child(2) {
	Transform: scaleX(0);
}

.Diam span:nth-child(3) {
	transform: rotate(-45deg) translate(1px, 0);
}

.move {
	background-color: #ffe91a;
	width: 100px;
	height: 100px;
	position: absolute;
	margin-top: 62%;
	left: 30%;
}

.texthome {
	z-index: 1000;
	margin-top: 42%;
	margin-left: 60%;
	position: relative;
	position: absolute;
}

.intro {
	font-family: 'tavirajbold';
	color: #ffe91a;
	font-size: 3.4vw;
}

.percent {
	font-size: 5.20vw;
	font-family: 'tavirajbold';
	color: #0037ff;
}

.column1 {
	margin-top: 135%;
	margin-left: 43%;
	position: absolute;
	z-index: 1200;
	font-family: 'chakra_petchlight';
	color: #161616;
	font-size: 1.11vw;
}

.column2 {
	margin-top: 171%;
	margin-left: 15%;
	position: absolute;
	z-index: 1300;
	font-family: 'chakra_petchlight';
	color: #161616;
	font-size: 1.11vw;
	line-height: 25pt;
}

.column3 {
	margin-top: 242%;
	margin-left: 67%;
	position: absolute;
	z-index: 1400;
	font-family: 'chakra_petchlight';
	color: #161616;
	font-size: 1.11vw;
	line-height: 25pt;
}

.column4 {
	margin-top: 316%;
	margin-left: 65%;
	position: absolute;
	z-index: 1500;
	font-family: 'chakra_petchlight';
	color: #161616;
	font-size: 1.11vw;
	line-height: 25pt;
}

.foot {
	font-family: 'chakra_petchlight';
	font-size: 1vw;
	line-height: 2vw;
	text-align: center;
	margin-top: 4vh;
}

.Posih3s1 {
	position: absolute;
	margin-left: 56%;
	margin-top: 136.5%;
}

.Posih3s2 {
	position: absolute;
	margin-left: 28%;
	margin-top: 172.5%;
}

.Posih3s3 {
	position: absolute;
	margin-left: 80%;
	margin-top: 243.5%;
}

.Posih3s4 {
	position: absolute;
	margin-left: 75%;
	margin-top: 317.5%;
	z-index: 1800;
}

.h1section {
	margin-left: 10%;
	margin-top: 85%;
	position: absolute;
	z-index: 1600;
}

#mark_stat {
	width: 45%;
}

.mark_section3 {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	display: block;
	color: #0037ff;
	background-color: #ffe91a;
}

#menulock {
	color: #7c7b77;
	font-family: 'chakra_petchbold';
}

.popup {
	width: 100vw;
    height: 100vw;
    position: fixed;
    z-index: 10;
    border-radius: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
}
.popuperror{
	text-align: center;
	width: 20vw;
	color: #f4f0ea;
	position: absolute;
	font-family: 'chakra_petchbold';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.erraa{
	position: absolute;
    width: 154vw;
    transform: rotate(38deg);
    top: 31%;
    right: -25%;
}
.b2{
    transform: rotate(309deg);
    top: 41%;
    right: -22%;
}
.b3{
    transform: rotate(-8deg);
    top: 34%;
    right: -25%;
}
.boxerror{
	position: absolute;
    width: 25vw;
    height: 25vw;
    background-color: #161616;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    /* border: 10px; */
    box-shadow: 0vw 0vw 3vw 3vw #161616;
}