#footer_div2_2 {
	position: absolute;
	width: 100%;
	background-color: #161616;
	color:#7c7b77;
	height: 16vh;
	border-top: 1px solid white;
	z-index: 9;
	margin-top: 385%;
}
.rope2{
	margin-top: 97%;
    width: 95vw;
    position: absolute;
    z-index: 10;
}
.rope2_1{
	 width: 46vw;
	margin-top: 97%;
    position: absolute;
    z-index: 10;
    margin-left:20%;
}
.rope2_2{
	width: 42vw;
	margin-top: 97%;
    position: absolute;
    z-index: 10;
    margin-left:20%;
}
.rope2_3{
	width: 41vw;
	margin-top: 137.5%;
    position: absolute;
    z-index: 10;
    margin-left:24%;
}
.rope2_4{
	width: 48.5vw;
	margin-top: 150%;
    position: absolute;
    z-index: 10;
    margin-left:23.5%;
}
.rope2_5{
	width: 35vw;
	margin-top: 210.8%;
    position: absolute;
    z-index: 10;
    margin-left:35.5%;
}
.rope2_6{
	width: 25vw;
	margin-top: 213.7%;
    position: absolute;
    z-index: 10;
    margin-left:45.7%;

}
.pic2_2_1{
	width: 55vw;
	position: absolute;
	margin-top: 63%;
	z-index:1;
	margin-left:0%;
}
.pic2_pin1{
	width: 2.5vw;
	position: absolute;
	margin-top:97.5%;
	z-index:11;
	margin-left:22.1%;
}
.pic2_2_21{
	width: 27vw;
	position: absolute;
	margin-top: 122.5%;
	z-index:1;
	margin-left:57%;
	transform: rotate(-5deg);
}
.pic2_2_22{
	width: 26vw;
	position: absolute;
	margin-top: 142.7%;
	z-index:1;
	margin-left:58%;
}
.pic2_pin2{
	width: 2.5vw;
	position: absolute;
	margin-top: 121.5%;
	z-index:11;
	margin-left:63%;
}
.pic2_pin3{
	width: 2.5vw;
	position: absolute;
	margin-top: 141%;
	z-index:11;
	margin-left:57%;
}
.pic2_2_frame{
	width: 50vw;
	position: absolute;
	margin-top: 145%;
	z-index:2;
	margin-left:0%;
}
.pic2_2_gif{
	width: 35.8vw;
	position: absolute;
	margin-top: 157.6%;
	z-index:1;
	margin-left:7.7%;
	transform: rotate(4deg);
}
.pic2_pin4{
	width: 2.5vw;
	position: absolute;
	margin-top: 152.5%;
	z-index:11;
	margin-left:28%;
}
.pic2_2_f{
	width: 10vw;
	position: absolute;
	margin-top: 175%;
	z-index:11;
	right:4%;
	
}
.pic2_2_31{
	width: 25vw;
	position: absolute;
	margin-top: 215%;
	z-index:1;
	right:16%;
}
.pic2_2_32{
	width: 20vw;
	position: absolute;
	margin-top: 238%;
	z-index:1;
	margin-left:22%;
	transform: rotate(-3deg);
}
.pic2_2_33{
	width: 18vw;
    position: absolute;
    margin-top: 253%;
    z-index: 1;
    margin-left: 45%;
    transform: rotate(3deg);
}
.pic2_2_light{
	width: 100vw;
	position: absolute;
	margin-top: 138%;
	z-index:11;
}
.pic2_2_last{
	width: 63vw;
    position: absolute;
    margin-top: 325%;
    z-index: 1;
    margin-left: -31.5%;
	left: 50%;
}
.pic2_2_close{
	width: 45vw;
	position: absolute;
	margin-top: 321.5%;
	z-index:1;
	margin-left:45%;
	transform: rotate(-1deg);
}
.pic2_pin6{
	width: 2.5vw;
	position: absolute;
	margin-top: 213.4%;
	z-index:11;
	margin-left:66.5%;
	transform: rotate(30deg);

}
.pic2_pin5{
	width: 2.5vw;
	position: absolute;
	margin-top: 237%;
	z-index:12;
	margin-left:37%;
	transform: rotate(-81deg);
}
.pic2_pin7{
	width: 2.5vw;
	position: absolute;
	margin-top: 297.5%;
	z-index:12;
	margin-left: -1.25%;
	left: 50%;
}
.pic2_2_circle{
	width: 12vw;
	position: absolute;
	margin-top: 233.5%;
	z-index:12;
	margin-left:34%;
	transform: rotate(-9deg);
}
.pic2_2_arrow {
    width: 4vw;
    position: absolute;
    margin-top: 374%;
    z-index: 12;
    cursor: pointer;
    margin-left: 48vw;
    animation: arrow22 3s infinite;
    animation-play-state: playing;
    transition: 0.2s;
}

@keyframes arrow22 {
    50% {
        transform: translateY(2vw);
    }
}
.tireprint{
	margin-top: 12%;
    margin-left: 21%;
    position: absolute;
    z-index: 5;
	width: 67vw;
	visibility: hidden;
}