@font-face {
    font-family: 'tavirajbold';
    src: url('taviraj-bold-webfont.woff2') format('woff2'), url('taviraj-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chakra_petchlight';
    src: url('chakrapetch-light-webfont.woff2') format('woff2'), url('chakrapetch-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Taviraj-SemiBold';
    src: url('Taviraj-SemiBold.woff2') format('woff2'),
         url('Taviraj-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.page3_h1 {
    margin-top: 89%;
    margin-left: 72%;
    position: absolute;
    z-index: 3;
    font-family: 'Taviraj-SemiBold';
    color: #0037ff;
    font-size: 4.3vw;
    line-height: 4vw;
}

.page3_c1 {
    margin-top: 163%;
    margin-left: 14%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #7c7b77;
    font-size: 1.3vw;
    line-height: 2.14vw;
    height: 20vw;
    visibility: hidden;
}
.page3_c2 {
    margin-top: 183%;
    margin-left: 41%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #7c7b77;
    font-size: 1.3vw;
    line-height: 2.14vw;
    height: 22vw;
    visibility: hidden;
}
.page3_c3 {
    margin-top:204%;
    margin-left: 70%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #7c7b77;
    font-size: 1.3vw;
    line-height: 2.14vw;
    height: 20vw;
    visibility: hidden;
}
.page3_h2 {
    margin-top: 228%;
    margin-left: 16%;
    position: absolute;
    z-index: 3;
    font-family: 'Taviraj-SemiBold';
    color: #0037ff;
    font-size: 4.3vw;
    line-height: 3vw;
}
.markh2{
    background-color: #ffe91a;
    color:#0037ff;
    display: inline-block; 
    height: 1.15em;
    line-height: 1.15;
}
.page3_title2 {
    margin-top: 248%;
    margin-left: 16%;
    position: absolute;
    z-index: 3;
    font-family: 'Taviraj-SemiBold';
    color: #0037ff;
    font-size: 3.4vw;
    display: block;
    line-height: 4.5vw;
    padding-top:5px;
    padding-bottom: 5px;
}
.page3_title2c1 {
    margin-top: 259%;
    margin-left: 16%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.3vw;
    line-height: 2.1vw;
}
.page3_title2c21 {
    margin-top: 273%;
    margin-left: 64%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.3vw;
    line-height: 2.14vw;
}




.page3_title3 {
    margin-top: 302%;
    margin-left: 16%;
    position: absolute;
    z-index: 3;
    font-family: 'Taviraj-SemiBold';
    color: #0037ff;
    font-size: 3.4vw;
    line-height: 4.5vw;
}

.page3_title3c1 {
    margin-top: 313%;
    margin-left: 16%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.3vw;
    line-height: 2.14vw;
}
.page3_title3c21{
    margin-top: 333%;
    margin-left: 55%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.3vw;
    line-height: 2.14vw;

}
.page3_title4 {
    margin-top: 361%;
    margin-left: 16%;
    position: absolute;
    z-index: 3;
    font-family: 'Taviraj-SemiBold';
    color: #0037ff;
    font-size: 3.4vw;
    line-height: 4.5vw;
}

.page3_title4c1 {
    margin-top: 374%;
    margin-left: 16%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color:#161616;
    font-size: 1.3vw;
    line-height: 2.14vw;
}

.page3_title4c21 {
    margin-top: 396%;
    margin-left: 55%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.3vw;
    line-height: 2.14vw;
}
.page3_h3{
    margin-top: 445%;
    margin-left: 55%;
    position: absolute;
    z-index: 3;
    font-family: 'Taviraj-SemiBold';
    color: #ffe91a;
    font-size: 4.3vw;
    line-height: 4vw;
}
.page3_title5c22{
    margin-top: 450%;
    margin-left: 55%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #f9f9f9;
    font-size: 1.3vw;
    line-height: 2.14vw;
}
.page3_title6h2up{
    color: #0037ff;
    font-size:2.6vw;
    z-index: 3;
    font-family: 'Taviraj-SemiBold';
    line-height: 3.6vw;
    margin-top: 452%;
    position: absolute;
    left:16%;
}
.page3_title6h2under{
    color: #0037ff;
    font-size:2.6vw;
    z-index: 3;
    font-family: 'Taviraj-SemiBold';
    line-height: 3.6vw;
    margin-top: 455.5%;
    position: absolute;
    left:26.5%;
}
.page3_title6h3{
    color: #0037ff;
    font-size:2.6vw;
    z-index: 3;
    font-family: 'Taviraj-SemiBold';
    line-height: 3.6vw;
    margin-top: 464%;
    position: absolute;
    left:67%;
}
.page3_title6h4{
    color: #0037ff;
    font-size:2.6vw;
    z-index: 3;
    font-family: 'Taviraj-SemiBold';
    line-height: 3.6vw;
    margin-top: 479.8%;
    position: absolute;
    left:39.5%;
}
.page3_tittle6h2c1{
    margin-top: 464%;
    margin-left: 15%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #f9f9f9;
    font-size: 1.3vw;
    line-height: 2.14vw;
}
.page3_tittle6h3c1{
    margin-top: 472%;
    margin-left: 64%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #f9f9f9;
    font-size: 1.3vw;
    line-height: 2.14vw;
}
.page3_tittle6h4c1{
    margin-top: 487%;
    margin-left: 36%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #f9f9f9;
    font-size: 1.3vw;
    line-height: 2.14vw;
}
.page3_tittle7{
    margin-top: 519%;
    margin-left: 20%;
    position: absolute;
    z-index: 3;
    font-family: 'Taviraj-SemiBold';
    color: #0037ff;
    font-size: 2.6vw;
    line-height: 4vw;
    text-align: center;
}
.mark_title7{
    padding-top:6px;
    padding-bottom: 6px;
}
.c2p1{
    width:30vw;
    margin-top: 273%;
    margin-left: 64%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.3vw;
    line-height: 2.14vw;
    visibility: hidden;
}
.c2p2{
    width:30vw;
    margin-top: 279%;
    margin-left: 64%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.3vw;
    line-height: 2.14vw;
    visibility: hidden;
}
.c2p3{
    width:30vw;
    margin-top: 287%;
    margin-left: 64%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #161616;
    font-size: 1.3vw;
    line-height: 2.14vw;
    visibility: hidden;
}


