.page22_c1{
	margin-top: 90%;
	margin-left: 60%;
	position: absolute;
	z-index: 3;
	font-family: 'chakra_petchlight';
	color: #f9f9f9;
	font-size: 1.11vw;
	line-height: 25pt;
}
.page22_c2{
	margin-top: 184%;
	margin-left: 53%;
	position: absolute;
	z-index: 3;
	font-family: 'chakra_petchlight';
	color: #f9f9f9;
	font-size: 1.11vw;
	line-height: 25pt;
}
.page22_c3{
	margin-top: 270%;
	margin-left: 23%;
	position: absolute;
	z-index: 3;
	font-family: 'chakra_petchlight';
	color: #f9f9f9;
	font-size: 1.11vw;
	line-height: 25pt;
}
.page22_c4{
	margin-top: 302%;
	margin-left: 23%;
	position: absolute;
	z-index: 3;
	font-family: 'chakra_petchlight';
	color: #f9f9f9;
	font-size: 1.11vw;
	line-height: 25pt;
	text-align: center;
}


/*-----TABLE-----*/
.tb22,.td22{
	border: 1px solid #ffe91a;
}