.page21_c1 {
    margin-top: 105%;
    margin-left: 50%;
    position: absolute;
    /* z-index: 3; */
    font-family: 'chakra_petchlight';
    color: #f9f9f9;
    font-size: 1.11vw;
    line-height: 25pt;
}
.page21_c2 {
    margin-top: 159%;
    margin-left: 13%;
    position: absolute;
    /* z-index: 3; */
    font-family: 'chakra_petchlight';
    color: #f9f9f9;
    font-size: 1.11vw;
    line-height: 25pt;
}

.page21_c3{
    margin-top: 248%;
    margin-left: 7%;
    position: absolute;
    /* z-index: 3; */
    font-family: 'chakra_petchlight';
    color: #f9f9f9;
    font-size: 1.11vw;
    line-height: 25pt;
}

.page21_c4{
    margin-top: 297%;
    margin-left: 55%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #f9f9f9;
    font-size: 1.11vw;
    line-height: 25pt;
}
.page21_c5{
    margin-top: 355%;
    margin-left: 23%;
    position: absolute;
    z-index: 3;
    font-family: 'tavirajbold';
    color: #f9f9f9;
    font-size: 1.11vw;
    line-height: 25pt;
    text-align: center;
}
.page21_c6{
    margin-top: 429%;
    margin-left: 50%;
    position: absolute;
    z-index: 3;
    font-family: 'chakra_petchlight';
    color: #ffe91f;
    font-size: 1.041vw;
    text-align: center;
}


.tb21, td {
    border: 1px solid #f9f9f9;
}