@font-face {
	font-family: 'tavirajbold';
	src: url('taviraj-bold-webfont.woff2') format('woff2'), url('taviraj-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'chakra_petchlight';
	src: url('chakrapetch-light-webfont.woff2') format('woff2'), url('chakrapetch-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

p {
	font-size: 16pt;
	font-family: 'chakra_petchlight';
	line-height: 25pt;
}

footer p {
	font-size: 100%;
}

h1{
	font-size: 60pt;
	font-family: 'tavirajbold';
	color:#0037ff;
}